/* video_interview.css */
/* CSS Variables for Consistent Styling */
:root {
    --primary-color: #007BFF;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --light-color: #ffffff;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Video Placeholder Styles */
.video-placeholder {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Text Styles */
h2 {
    font-size: 2em;
    font-weight: bold;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}

/* Navigation Buttons */
#prev-question-btn,
#next-question-btn {
    width: 45%;
}

/* Instructions Section */
h4 {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

p {
    color: #343a40;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .video-placeholder {
        width: 100%;
    }

    #prev-question-btn,
    #next-question-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Navigation Bar */
.navbar {
    background-color: var(--light-color);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    color: var(--primary-color) !important;
    text-decoration: none;
    font-weight: 700;
}

.navbar-toggler {
    border: none;
    background: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-collapse {
    background-color: #fff;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color) !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}